.headshot-img{
    width: 200px;
    height: 200px;
    border-radius: 50%; /*Makes it a circle*/
    object-fit: cover;
    display: block;
    margin: 20px;
}

@media (max-width: 500px){
    .headshot-img{
        width: 120px;
        height: 120px;
    }
}